# **Tarea Nº 4**

- Fecha y hora de entrega: Domingo 12 de enero, 11:59pm
- Agregue los nombres de las personas con las que discutió esta tarea: ____ Armando Paredes ______
- Envíe su tarea haciendo el `push` de su código a su repo en GitHub Classroom:

## **Mercado de autos usados**

Importa el conjunto de datos `neoauto_20240924.csv`

In [8]:
import pandas as pd
from datetime import datetime

directorio = "C:/Users/cbuen/repositorios/tarea-4-bueno-suarez-padilla"
file_path = directorio + "/neoauto_20240924.csv"
data = pd.read_csv(file_path)

1. ¿Cuál es el precio promedio de los autos de cada marca (`item_brand`) publicados en cada subcategoría (`item_category_2`)?

In [10]:
average_price_brand_category = data.groupby(['item_brand', 'item_category_2'])['item_price'].mean().reset_index()
average_price_brand_category.rename(columns={'item_price': 'average_price'}, inplace=True)
print("Precio promedio por marca y subcategoría:")
print(average_price_brand_category)

Precio promedio por marca y subcategoría:
       item_brand item_category_2  average_price
0      ALFA-ROMEO       Hatchback    8500.000000
1      ALFA-ROMEO           Sedan    2500.000000
2    ASTON MARTIN  Camionetas Suv  229000.000000
3    ASTON MARTIN       Deportivo  169990.000000
4    ASTON MARTIN           Sedan  149900.000000
..            ...             ...            ...
197         VOLVO  Camionetas Suv   41801.707317
198         VOLVO       Deportivo    8800.000000
199         VOLVO       Hatchback   12772.500000
200         VOLVO           Sedan   11458.333333
201         VOLVO   Station Wagon    6100.000000

[202 rows x 3 columns]

2. ¿Cuántos autos tienen más de 100,000 kilómetros (`item_km`) pero un precio (`item_price`) menor al promedio general?

In [12]:
general_average_price = data['item_price'].mean()
filtered_cars = data[(data['item_km'] > 100000) & (data['item_price'] < general_average_price)]
count_filtered_cars = filtered_cars.shape[0]
print(f"\nCantidad de autos con más de 100,000 km y precio menor al promedio general: {count_filtered_cars}")

Cantidad de autos con más de 100,000 km y precio menor al promedio general: 497

3. Encuentra el modelo (`item_name`) más caro y el más barato de cada marca (`item_brand`).

In [14]:
most_expensive = data.loc[data.groupby('item_brand')['item_price'].idxmax()][['item_brand', 'item_name', 'item_price']]
most_expensive.rename(columns={'item_name': 'most_expensive_model', 'item_price': 'highest_price'}, inplace=True)

least_expensive = data.loc[data.groupby('item_brand')['item_price'].idxmin()][['item_brand', 'item_name', 'item_price']]
least_expensive.rename(columns={'item_name': 'least_expensive_model', 'item_price': 'lowest_price'}, inplace=True)

price_extremes_by_brand = pd.merge(most_expensive, least_expensive, on='item_brand')
print("\nModelo más caro y más barato por marca:")
print(price_extremes_by_brand)

Modelo más caro y más barato por marca:
      item_brand      most_expensive_model  highest_price  \
0     ALFA-ROMEO       alfa-romeo 147 2006         8500.0
1   ASTON MARTIN     aston martin dbx 2021       229000.0
2           AUDI            audi rs 6 2024       220000.0
3         AUSTIN   austin mini cooper 1970            1.0
4           BAIC             baic x55 2021        12800.0
..           ...                       ...            ...
68           SWM          swm g05 pro 2022        14000.0
69        TOYOTA         toyota hilux 2019       100000.0
70       TRIUMPH         triumph tr-7 1971        18900.0
71    VOLKSWAGEN  volkswagen teramont 2023        48900.0
72         VOLVO          volvo xc-90 2023        84990.0

             least_expensive_model  lowest_price
0          alfa-romeo alfasud 1982        2500.0
1           aston martin db11 2017      149900.0
2               audi a3 sedan 2015           0.0
3          austin mini cooper 1970           1.0
4                   baic plus 2018        7500.0
..                             ...           ...
68                swm g05 pro 2022       14000.0
69  toyota land cruiser prado 2011           0.0
70               triumph tr-7 1971       18900.0
71            volkswagen bora 2015           0.0
72            volvo 850 turbo 1995        2100.0

[73 rows x 5 columns]

4. Encuentra las tres marcas con mayor número de autos financiados por Santander (`item_financed_by`).

In [16]:
santander_financed = data[data['item_financed_by'] == 'Santander']
top_santander_brands = santander_financed['item_brand'].value_counts().head(3).reset_index()
top_santander_brands.columns = ['item_brand', 'count']
print("\nTop 3 marcas con autos financiados por Santander:")
print(top_santander_brands)

Top 3 marcas con autos financiados por Santander:
  item_brand  count
0        BMW    296
1     TOYOTA    261
2     NISSAN    228

5. Agrupa las publicaciones por tipo de transmisión (`item_transmission`) y calcula la desviación estándar del precio (`item_price`) para cada tipo.

In [18]:
std_price_by_transmission = data.groupby('item_transmission')['item_price'].std().reset_index()
std_price_by_transmission.rename(columns={'item_price': 'price_std_dev'}, inplace=True)
print("\nDesviación estándar del precio por transmisión:")
print(std_price_by_transmission)

Desviación estándar del precio por transmisión:
         item_transmission  price_std_dev
0               Automática   15332.729048
1  Automática - Secuencial   22678.641589
2                 Mecánica    8137.122127

6. ¿Cuál es el kilometraje promedio de las publicaciones con el tag "Premium" y de las publicaciones con el tag "Como nuevo"?

In [20]:
average_km_by_tag = data[data['item_tag'].isin(['Premium', 'Como nuevo'])].groupby('item_tag')['item_km'].mean().reset_index()
average_km_by_tag.rename(columns={'item_km': 'average_km'}, inplace=True)
print("\nKilometraje promedio por tag:")
print(average_km_by_tag)

Kilometraje promedio por tag:
     item_tag    average_km
0  Como nuevo  35963.476190
1     Premium  48400.235897

7. ¿Cuáles son las marcas de vehículas para los que todos sus modelos fabricados en los últimos 5 años tienen al menos 5 publicaciones cada una?

In [26]:
current_year = datetime.now().year
recent_cars = data[data['item_year'] >= current_year - 5]
recent_model_counts = recent_cars.groupby(['item_brand', 'item_name']).size().reset_index(name='count')
sufficient_publications = recent_model_counts[recent_model_counts['count'] >= 5]

brands_with_all_models = sufficient_publications.groupby('item_brand')['item_name'].nunique()
total_models_by_brand = recent_cars.groupby('item_brand')['item_name'].nunique()

brands_with_all_models_df = pd.DataFrame({
    'brand': brands_with_all_models.index,
    'all_model_count': brands_with_all_models.values
}).set_index('brand')

total_models_by_brand_df = pd.DataFrame({
    'brand': total_models_by_brand.index,
    'total_model_count': total_models_by_brand.values
}).set_index('brand')

comparison_df = pd.merge(brands_with_all_models_df, total_models_by_brand_df, left_index=True, right_index=True)
valid_brands = comparison_df[comparison_df['all_model_count'] == comparison_df['total_model_count']].index.tolist()


if (len(valid_brands) == 0):
    print("No se encontraron marcas cuyos modelos fabricados en los últimos 5 años tengan al menos 5 publicaciones cada uno.")
else:
    print("\nMarcas cuyos modelos fabricados en los últimos 5 años tienen al menos 5 publicaciones cada uno:")
    print(valid_brands)

No se encontraron marcas cuyos modelos fabricados en los últimos 5 años tengan al menos 5 publicaciones cada uno.

## **Evolución económica internacional**

Importa el conjunto de datos de la hoja "Data" del archivo `pwt1001.xlsx`. El diccionario de variables está disponible en la hoja "Legend" del archivo Excel.

1. Calcule el PBI per cápita real ajustado por poder de paridad de compra (PPP). Use la variable de PBI que se calcula por gasto y la población. ¿Cuáles son los 10 países top?

In [ ]:
# Solución

2. Genera el ránking de los países con el mayor incremento del PBI per cápita real PPP entre los años 1990 y 2019. ¿Dónde se ubica Perú? Para los países que no tengan información para dichos años, puede utilizar datos provenientes de hasta dos años antes o después

In [ ]:
# Solución

3. Para el periodo 2010-2019, calcule el promedio del índice del capital humano. ¿Qué relación existe entre esta variable y el PBI per cápita real PPP calculado previamente? ¿y el número de horas laboradas al año por los trabajadores?

In [ ]:
# Solución

4. A partir de la variable del precio de los hogares, calcula los países y los años en los cuales se registró la mayor inflación anual para todo el periodo de tiempo disponible en la base de datos

In [ ]:
# Solución

5. ¿Cuáles son los países con la mayor cantidad de missing values en la variable de productividad total de factores a precios corrientes?

In [ ]:
# Solución

6.  Agrupa los datos por país y calcula el promedio de las horas trabajadas anuales (avh) y de la educación promedio (hc) para el periodo 2000-2020.

In [ ]:
# Solución

7.  Genere una variable que ordene a los países según el porcetaje de formación brutal de capital del 2019. Luego, estable diez grupos a manera de deciles. ¿En qué decil se ubica Péru? Vuelva a calcular usando la información de 1990. ¿El Perú se mantiene en el mismo décil o cambia?

In [ ]:
# Solución

## **Transacciones Financieras**

Importa el conjunto de datos `base_financiera.csv`

8. Filtra todas las transacciones de tipo "Debit" en las que el monto sea mayor a 200, y calcula el monto total de esas transacciones. Además, determina cuántos clientes únicos realizaron esas transacciones.

In [ ]:
# Solución

9. Identifica las transacciones con valores nulos en la columna (`Amount`) . Rellena esos valores con la mediana de los montos por tipo de transacción (`Transaction_Type`) y luego calcula el monto total de transacciones por región (`region`) .

In [ ]:
# Solución

10. Busca transacciones duplicadas considerando las columnas (`Customer_ID`) y (`Date`). Elimina los duplicados manteniendo solo la primera ocurrencia. Luego, agrupa las transacciones restantes por (`Customer_ID`) y calcula el monto promedio y la cantidad de transacciones por cliente.

In [ ]:
# Solución